<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Debt Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="top-navbar">
      <h2 class="logo" th:text="${globalSettings.storeName}">دەفتەری قەرز</h2>
      <div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle"><i class="fas fa-bars"></i></label>
        <div class="sidebar-menu">
          <a href="/Debt">سەرەکی</a>
          <a href="/history">مێژووی پارەدان</a>
          <a href="/archives">ئەرشیفی قەرزەکان</a>
          <a href="/settings">ڕێکخستنەکان</a>
        </div>
      </div>
    </nav>
    <main>
      <table
        class="ph-table"
        style="margin-top: 20px; background-color: #2b3038"
      >
        <thead>
          <tr>
            <th>ناوی کڕیار</th>
            <th>بڕی پارەی دراو</th>
            <th>جۆری دراو</th>
            <th>بەروار</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="payments : ${allPayments}">
            <td th:text="${payments.debt.customerName}">ناوی کڕیار</td>
            <td th:text="${payments.amount}">بڕی پارەی دراو</td>
            <td th:text="${payments.currency}">جۆری دراو</td>
            <td th:text="${payments.paymentDate}">بەروار</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
