<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Debt Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="top-navbar">
      <h2 class="logo" th:text="${globalSettings.storeName}">دەفتەری قەرز</h2>
      <div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle"><i class="fas fa-bars"></i></label>
        <div class="sidebar-menu">
          <a href="/Debt">سەرەکی</a>
          <a href="/history">مێژووی پارەدان</a>
          <a href="/archives">ئەرشیفی قەرزەکان</a>
          <a href="/settings">ڕێکخستنەکان</a>
        </div>
      </div>
    </nav>
    <main>
      <form th:action="@{/saveSettings}" class="setting-form" method="post">
        <label for="storeName">ناوی فرۆشگا</label>
        <input
          type="text"
          name="storeName"
          th:value="${mySettings.storeName}"
        />
        <label for="customUsdRate">گۆڕینی نرخی دۆلار بە دەستی</label>
        <input
          type="number"
          step="0.01"
          name="customUsdRate"
          th:value="${mySettings.customUsdRate}"
        />

        <label for="useCustomRate">بەکارهێنانی نرخی دۆلاری دەستی</label>
        <input
          type="checkbox"
          name="useCustomRate"
          th:checked="${mySettings.useCustomRate}"
        />

        <button type="submit" class="btn-submit">خەزنکردنی ڕێکخستنەکان</button>
      </form>
      <div class="delete-clear-debts">
        <form
          action="/clearArchives"
          onsubmit="
            return confirm(
              'ئایا دڵنیای لە سڕینەوەی ئەرشیفی قەرزەکان؟، داتاکان ناگەڕێنەوە!',
            );
          "
          method="post"
        >
          <button
            type="submit"
            class="btn-delete"
            style="
              width: 100%;
              padding: 10px;
              margin-top: 10px;
              margin-bottom: 20px;
              font-size: 1.3rem;
            "
          >
            سڕینەوەی ئەرشیفی قەرزەکان
          </button>
        </form>
        <form
          action="/clearHistory"
          method="post"
          onsubmit="
            return confirm(
              'ئایا دڵنیای لە سڕینەوەی مێژووی پارەدان؟، داتاکان ناگەڕێنەوە!',
            );
          "
        >
          <button
            type="submit"
            class="btn-delete"
            style="
              width: 100%;
              padding: 10px;
              margin-top: 10px;
              margin-bottom: 20px;
              font-size: 1.3rem;
            "
          >
            سڕینەوەی مێژووی پارەدان
          </button>
        </form>
      </div>
      <div class="backup">
        <h3 style="color: black">پاراستنی داتاکان</h3>
        <a href="/backup" class="btn-submit"
          ><i class="fas fa-database"></i>دابەزاندنی کۆپیەك لە داتاکان -
          Backup</a
        >
        <p style="color: black; font-size: 14px; margin-top: 10px">
          ئەمە هەموو داتاکانت دەپارێزێت لە ئەگەری بوونی هەر کێشەیەک وەک: فۆرمات
          کردنی کۆمپیتەرەکەت، هەڵەکانی سیستەم، گۆڕینی کۆمپیتەر، هتد..
        </p>
        <form
          action="/restore"
          method="post"
          enctype="multipart/form-data"
          style="text-align: center"
        >
          <label for="restoreFile" style="color: black">
            گەڕاندنەوەی داتاکان - Restore
          </label>
          <input
            type="file"
            name="file"
            id="backupFile"
            accept=".sql"
            required
            style="display: none"
          />

          <label
            for="backupFile"
            style="
              background-color: #3b82f6;
              color: white;
              padding: 10px 15px;
              border-radius: 5px;
              cursor: pointer;
              display: inline-block;
              margin-bottom: 15px;
            "
          >
            <i class="fas fa-folder-open"></i> فایلی باکئەپ هەڵبژێرە...
          </label>

          <span
            id="fileNameDisplay"
            style="margin-right: 10px; color: #6b7280; font-size: 14px"
            >هیچ فایلێک هەڵنەبژێراوە</span
          >
          <button type="submit" class="btn-submit">
            <i class="fas fa-upload"></i> گەڕاندنەوەی داتاکان
          </button>
        </form>
      </div>
    </main>

    <script>
      document
        .getElementById("backupFile")
        .addEventListener("change", function () {
          document.getElementById("fileNameDisplay").textContent = this.files[0]
            ? this.files[0].name
            : "هیچ فایلێک هەڵنەبژێراوە";
        });
    </script>
  </body>
</html>
